/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
     box-sizing: border-box;
}
*, *::before, *::after{
     box-sizing: inherit;
}

body {
     font-family: 'Lato';
     font-style: normal;
     font-size: 16px;
     line-height: 1.2;
     font-weight: normal;
     color:#102746;
}
img {
     max-width: 100%;
     height: auto;
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;   
}
.wrapper-full {
     max-width: 1262px;
     margin: 0 auto;
}
.section-title {
     font-weight: 500;
     font-size: 35px;
     line-height: 42px;
     position: relative;
     padding-bottom: 10px;
}
.section-title::after {
     content: '';
     display: block;
     background-color: #006DFE;
     width: 253px;
     height: 3px;
     position: absolute;
     bottom: 0;
     left: 0;
}
/* Header styles start */

.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
}
.header_wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: flex-end;
     justify-content: space-between;
     padding-top: 56px;
}
.header_list {
     display: flex;
     flex-wrap: wrap;
}
.header_item {
     margin-right: 82px;
}
.header_item:last-child {
     margin-right: 0;
}
.header_link {
     font-size: 18px;
     line-height: 24px;
     color: white;
     text-decoration: none; 
}
.header_link:hover, .header_link:focus, .header_link:active {
     opacity: .75;
}

/* Header styles end */



/* Intro styles start */

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.png) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}
.intro_title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color:white;
    margin-bottom: 22px;
}
.intro_subtitle {
    max-width: 546px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}
.search-form_info {
    display: flex;
    flex-wrap: wrap;
}
.search-form_field {
    width: 297px;
    background-color: transparent;
    background: url(../img/svg/circle_icon.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}
 .search-form_field::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}
 .search-form_submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background: #1B7DFF;
    border: 0;
}
.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active {
    background: #1568d6;
}

/* Intro styles end */
.benefits {
     padding-bottom: 131px;
}
.benefits__wrap {
     max-width: 1262px;
     margin: 0 auto;
     background-color: #ffffff;
     box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
     position: relative;
}
.benefits__title {
     font-weight: 500;
     font-size: 35px;
     line-height: 42px;
     padding: 93px 100px 88px 100px;
     color: #102746;
     position: absolute;
     top: 0;
     left: 0;
     transform: translateY(-100%);
     background-color: #ffffff;
     width: 100%;
}
.benefits__cards {
     padding: 32px 100px 112px 100px;
     display: flex;
     justify-content: space-between;

}
.benefits__card {
     max-width: 317px;
}
.benefits__card-pic {
     margin-bottom: 37px;
}
.benefits__card-thumb {
}
.benefits__card-title {
     font-weight: 500;
     font-size: 18px;
     line-height: 24px;
     color: #000000;
     margin-bottom: 26px;
}
.benefits__card-desk {
     margin-bottom: 39px;
     font-size: 16px;
     line-height: 24px;
     color: #000000;
}
.benefits__card-more {
     font-size: 16px;
     line-height: 24px;
     color: #006DFE;
     text-decoration: none;
     display: inline-block;
     padding-right: 59px;
     background: url(/img/svg/arrow-icon.svg) no-repeat 95% center;
     transition: .2s all;
}
.benefits__card-more:hover, .benefits__card-more:focus {
     background: url(/img/svg/arrow-icon.svg) no-repeat right center;
}

.places {
     margin-bottom: 131px;
}
.places__title {
     margin-right: 15px;
}
.places__caption {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 36px;
}
.places__view-all {
     font-size: 16px;
     color: #006DFE;
     text-decoration: none;
     padding-right: 59px;
     background: url(/img/svg/arrow-icon.svg) no-repeat right center;
}
.places__view-all:hover, .places__view-all:focus {
     opacity: .70;
}
.places__cards_up {
    display: flex;
    margin-bottom: 10px;
}
.places__card {
     margin-right: 10px;
     position: relative;
     overflow: hidden;
}
.places__card::after {
     display: block;
     content: '';
     width: 100%;
     height: 100%;
     background-color: rgba(21, 24, 36, 0.4);
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2;
}
.places__card:last-child {
     margin-right: 0;
}
.places__card:hover .places__card-pic_lg {
     transform: scale(1.05);
}
.places__card:hover .places__card-pic_sm {
     transform: scale(1.05);
}
.places__card-title {
     font-size: 50px;
     line-height: 60px;
     color: white;
     position: absolute;
     bottom: 27px;
     left: 29px;
     z-index: 3;
}
.places__card-pic_lg {
     height: 354px;
     object-fit: cover;
     width: 100%;
     transition: .15s all;
}
.places__card_size_lg:first-child {
     max-width: 619px;
}
.places__card_size_lg:last-child {
     max-width: 635px;
}
.places__cards_down {
     display: flex;
}
.places__card_size_sm {
     max-width: 415px;
}
.places__card_size_sm:last-child {
     max-width: 414px;
}
.places__card-pic_sm {
     height: 283px;
     object-fit: cover;
     width: 100%;
     transition: .15s all;
}
.places__card_link {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 4;
}
.tours {
     margin-bottom: 139px;
}
.tours__tour {
    display: flex;
}
.tour {
     margin-bottom: 77px;
}
.tour__pic {
     margin-right: 108px;
     max-height: 354px;
     max-width: 597px;
}
.tour__thumb {
     width: 100%;
     height: 354px;
     object-fit: cover;
}
.tour__info {
     margin-top: 26px;
     max-width: 519px;
}
.tour__title {
     font-weight: 500;
     font-size: 30px;
     line-height: 40px;
     margin-bottom: 85px;
}
.tour__desc {
     font-size: 16px;
     line-height: 24px;
     margin-bottom: 58px;
}
.tour__more {
     font-size: 16px;
     color: #006DFE;
     text-decoration: none;
     padding-right: 59px;
     background: url(/img/svg/arrow-icon.svg) no-repeat right center;
}

.tour__more:hover, .tour__more:focus {
     opacity: .70;
}
.tour__pic-down {
     margin-left: 108px;

}
.tour__thumb_down {
     height: 354px;
     object-fit: cover;
     max-width: 597px;
}
.tours__tour_down {
     padding-left: 47px;
}
.tour__info_down {   
     max-width: 519px;
}

.top {

}
.top__title {
     margin-bottom: 54px;
}
.top__card-pic {
     position: relative;
     max-width: 386px;
}
.top__card-stats {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: flex-end;
     position: absolute;
     bottom: 0;
     left: 0;
     background: rgba(21, 24, 36, 0.6);
     padding: 16px 25px;
     width: 100%;
}
.top__card-title {
     font-weight: 500;
     font-size: 18px;
     line-height: 24px;
     color: #FFFFFF;
     margin: 0 auto 0 0;
}
.top__card-likes {
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     color: #FFFFFF;
     padding-right: 20px;
     background: url(/img/heart-icon.svg) no-repeat right;
     margin-right: 14px;
}
.top__card-comments {
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     color: #FFFFFF;
     padding-right: 23px;
     background: url(/img/comment-icon.svg) no-repeat right;
}